*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: unset;
}

button,
input,
textarea,
select {
  font: inherit;
}

img,
picture,
svg,
canvas {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  display: grid;
  place-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5rem;
}

section {
  background-color: whitesmoke;
  border-radius: 10px;
  width: 100%;
  min-height: calc(100vh - 20em);
  padding: 25px;
}

li {
  list-style-type: none;
  text-align: center;
  padding-bottom: 5%;
}


form input {
  padding: .5rem;
  border-radius: 10px;
  text-align: left;
  border: 1px solid black;
}

form input:focus {
  background-color: rgb(237, 237, 237);
}

form ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

h1 {
  color: #f07334;
}

nav {
  background-color: whitesmoke;
  margin-bottom: 1rem;
  width: 100%;
}

nav ul {
  display: flex;
  justify-items: space-around;
  padding: 0;
}

nav ul > li {
  width: 100px;
  padding: 0;
}

#home-nav {
  display: flex;
  justify-items: space-around;
}

#home-nav > p {
  width: 100px;
}

.container {
  border: 2px solid #f07334;
  width: 25%;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 10px;
  -webkit-box-shadow: 3px 0px 10px 0px black;
  -moz-box-shadow: 3px 0px 10px 0px black;
  box-shadow: 3px 0px 10px 0px black;
}

.submit {
  background-color: transparent;
  color: black;
  padding: .5rem;
  text-align: center;
  border: 1px solid black;
  width: 50%;
  font-size: 18px;
}

.submit:hover {
  background-color: #f07334;
  border: 1px dotted black;
}

.password,
.username {
  width: 50%;
}

body {
  background-color: #333;
}
