{% macro display_games(games)%}

<div class="row row-cols-1 row-cols-md-2 g-4">
  {% for game in games %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">{{ game.game_title }}</h2>
        <div class="progress flex-fill">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: {{ game.game_progress }}%;"
            aria-valuenow="{{ game.game_progress }}"
            aria-valuemin="0"
            aria-valuemax="100"
          >
            {{ game.game_progress }}%
          </div>
        </div>
        <button
          id="deleteGameBtn"
          class="btn btn-outline-danger btn-sm"
          data-id="{{ game.id }}"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-trash"
            viewBox="0 0 16 16"
          >
            <path
              d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
            />
            <path
              d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
            />
          </svg>
          Delete
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<script type="text/javascript">
  const deleteBtn = document.getElementById('deleteGameBtn');

  deleteBtn.addEventListener('click', (i) => {
    let cardId = deleteBtn.getAttribute('data-id');
    let data = new FormData();

    data.append('id', cardId);
    fetch('/delete', {
      method: 'POST',
      body: data,
    }).then((response) => console.log(response.text));
  });
</script>
{% endmacro %}
