{% extends "base.html" %} {% block title%} {{ title }} {% endblock %} {% block
content%}
<div class="row mt-4">
  <div class="col-lg-5 col-md-6 m-auto card p-4">
    <h1 class="text-center">Game Progress App</h1>
    <nav id="home-nav" class="d-flex flex-row justify-content-evenly">
      <!-- If not logged in: -->
      <p><a href="{{ url_for('login') }}">Log In</a></p>
      <!-- If logged in: -->
      <!-- <p><a href="/library.html">View Library</a></p> -->
      <p><a href="#">About this app</a></p>
    </nav>
  </div>
</div>
{% endblock %}
