{% from "game-cards.html" import display_games %}
{% extends "base.html" %} {% block title%} {{ title }} {% endblock %} {% block
content%}
    <div class="container">
      <div class="row mt-4">
        <div class="col-lg-8 col-md-5 m-auto card p-4">
          {% if session %}
            <h2>{{ username }}'s Library</h2>
            <p>
              <a href="{{ url_for('add_games') }}" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Add Game
              </a>
            </p>
            {% if games %}
              {{ display_games(games) }}
            {% else %}
              <p>You do not have any games in your library.</p>
            {% endif %}
          {% else %}
            <p>You must <a href="{{ url_for('login') }}">login</a> to view your library.
        {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}